.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.grid-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.white {
  background-color: white;
}
.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.flex {
  display: flex;
  width: 100%;
}

#playerboard {
  margin-right: 3rem;
}

.button {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.button {
  background-color: antiquewhite;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
